# PostgreSQL
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db

POSTGRES_DRIVER=gorm

#Redis
REDIS_PASSWORD=password

#GopherMart
JWT_SECRET=secret
CACHE_ADDRESS=redis://:password@dragonfly:6379
